{% extends 'email/base.html' %}
{% load static %}


{% block content %}
<p>The subscription of Activity in the ACTIVITY POINTS ENGG APP is successful. The invoice is attached to this Email for the Student’s reference.</p>
    <ul>
        <li>The Activity Subscription will expire on the 60th day from today. Make sure to complete all the activity tasks well within 60 days from the subscription date.</li>
        <li>If failure to complete all the tasks within 60 days, the activity subscription will expire, and the student needs to re-subscribe by paying the amount. Re-subscription will not continue the incomplete tasks but prompts the student to start activities from TASK-1.</li>
        <li>There will not be any refund / Change of Activity upon the generation of Invoice.</li>
        <li>Students can implement the task by referring to the instructions provided in FAQ and/or User Manual Section.</li>
        <li>Upon the completion of the activity, our team will evaluate and issue the E-Copy of Certificate and Report to your registered Email ID.</li>
    </ul>
{% endblock content %}