{% extends 'email/base.html' %}
{% load static %}


{% block content %}

{% if user.user_type == "ngo" %}
    <p>Hello Organization,</p>
{% else %}
    <p>Hello {{ user.username }},</p>
{% endif %}
<p>You have requested a password reset. Please click the link below to reset your password:</p>
<div class="reset-link">
    <a href="{{ reset_link }}" target="_blank">Reset Password</a>
</div>
<p>If you did not request this reset, please ignore this email.</p>
<p>Best regards,<br>Your Application Team</p>
{% endblock content %}